HopeSystemUniversal_HoloSupport/Service References/ZZAzureServices/HopeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Bing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Bing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWebResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebResult" nillable="true" type="tns:WebResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebResult" nillable="true" type="tns:ArrayOfWebResult" />
  <xs:complexType name="WebResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebResult" nillable="true" type="tns:WebResult" />
  <xs:complexType name="ArrayOfImageResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageResult" nillable="true" type="tns:ImageResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageResult" nillable="true" type="tns:ArrayOfImageResult" />
  <xs:complexType name="ImageResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MediaUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="tns:Thumbnail" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImageResult" nillable="true" type="tns:ImageResult" />
  <xs:complexType name="Thumbnail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MediaUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Thumbnail" nillable="true" type="tns:Thumbnail" />
</xs:schema>