HopeSystemUniversal_HoloSupport/Service References/ZZAzureServices/HopeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd4" namespace="http://nlptoolkit.cloudapp.net" />
  <xs:complexType name="AnalyzedCorpus">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnalyzedText" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://nlptoolkit.cloudapp.net" minOccurs="0" name="EntitesList" nillable="true" type="q1:ArrayOfNamedEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnalyzedCorpus" nillable="true" type="tns:AnalyzedCorpus" />
</xs:schema>