HopeSystemUniversal_HoloSupport/Service References/ZZAzureServices/HopeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bing" />
  <xs:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
  <xs:element name="WebSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Bing" minOccurs="0" name="WebSearchResult" nillable="true" type="q1:ArrayOfWebResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resultReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImageSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Bing" minOccurs="0" name="ImageSearchResult" nillable="true" type="q2:ArrayOfImageResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorpusAnalyzer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CorpusAnalyzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="CorpusAnalyzerResult" nillable="true" type="q3:AnalyzedCorpus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>