HopeSystemUniversal_HoloSupport/Service References/ZZAzureServices/HopeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HopeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bing" />
      <xsd:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
      <xsd:import schemaLocation="http://api.developers.ps/HopeService.svc?xsd=xsd4" namespace="http://nlptoolkit.cloudapp.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHopeService_WebSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:WebSearch" />
  </wsdl:message>
  <wsdl:message name="IHopeService_WebSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IHopeService_ImageSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:ImageSearch" />
  </wsdl:message>
  <wsdl:message name="IHopeService_ImageSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImageSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IHopeService_CorpusAnalyzer_InputMessage">
    <wsdl:part name="parameters" element="tns:CorpusAnalyzer" />
  </wsdl:message>
  <wsdl:message name="IHopeService_CorpusAnalyzer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CorpusAnalyzerResponse" />
  </wsdl:message>
  <wsdl:portType name="IHopeService">
    <wsdl:operation name="WebSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IHopeService/WebSearch" message="tns:IHopeService_WebSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHopeService/WebSearchResponse" message="tns:IHopeService_WebSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImageSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IHopeService/ImageSearch" message="tns:IHopeService_ImageSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHopeService/ImageSearchResponse" message="tns:IHopeService_ImageSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CorpusAnalyzer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHopeService/CorpusAnalyzer" message="tns:IHopeService_CorpusAnalyzer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHopeService/CorpusAnalyzerResponse" message="tns:IHopeService_CorpusAnalyzer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHopeService" type="tns:IHopeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebSearch">
      <soap:operation soapAction="http://tempuri.org/IHopeService/WebSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImageSearch">
      <soap:operation soapAction="http://tempuri.org/IHopeService/ImageSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CorpusAnalyzer">
      <soap:operation soapAction="http://tempuri.org/IHopeService/CorpusAnalyzer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HopeService">
    <wsdl:port name="BasicHttpBinding_IHopeService" binding="tns:BasicHttpBinding_IHopeService">
      <soap:address location="http://api.developers.ps/HopeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>