WCFServiceWebRole1/Service References/ATK.POS/ParserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://nlptoolkit.cloudapp.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParserService" targetNamespace="http://nlptoolkit.cloudapp.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="HTTPS_IParserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://nlptoolkit.cloudapp.net/Imports">
      <xsd:import schemaLocation="https://atks.microsoft.com/Services/ParserService.svc?xsd=xsd0" namespace="http://nlptoolkit.cloudapp.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParserService_Parse_InputMessage">
    <wsdl:part name="parameters" element="tns:Parse" />
  </wsdl:message>
  <wsdl:message name="IParserService_Parse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseResponse" />
  </wsdl:message>
  <wsdl:message name="IParserService_SuggestParseTree_InputMessage">
    <wsdl:part name="parameters" element="tns:SuggestParseTree" />
  </wsdl:message>
  <wsdl:message name="IParserService_SuggestParseTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuggestParseTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="IParserService">
    <wsdl:documentation>&lt;summary&gt;
            Parser API
            &lt;/summary&gt;</wsdl:documentation>
    <wsdl:operation name="Parse">
      <wsdl:documentation>&lt;summary&gt;
             Parses a sentence and generates its parse tree
             &lt;/summary&gt;
             &lt;param name="appId"&gt;Your Application Guid&lt;/param&gt;
             &lt;param name="inText"&gt;Input sentence&lt;/param&gt;
             &lt;param name="parseTree"&gt;The output parse tree&lt;/param&gt;
             &lt;param name="score"&gt;Confidence score&lt;/param&gt;
             &lt;returns&gt;&lt;c&gt;ParserErrorCode.Success&lt;/c&gt; or one of the Parser error codes&lt;/returns&gt;
             /// &lt;example&gt;
             This sample shows how to call the Parser method and report your feedback.
             &lt;code lang="C#"&gt;
             using (ParserServiceClient ParserClient = new ParserServiceClient())
             {
                 string AppID = "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX";
                 
                 string parseTree="";
                 
                 double score=0.0;
                 
                 // Parse the input Arabic sentence
                 ParserErrorCode RetCode = ParserClient.Parse(AppID, arabicSentence, out parseTree, out score);
            
                 if (RetCode == ParserErrorCode.Success)
                 {
                     // Some processing or user input ...
             
                     // If this is a wrong parse, it is recommended to suggest a new parse tree
                     ParserClient.SuggestParseTree(AppID, arabicSentence, suggestedParseTree);
                 }
                 else
                 {
                     MessageBox.Show("Failed with error code " + RetCode.ToString());
                 }
             }
             &lt;/code&gt;
             &lt;/example&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://nlptoolkit.cloudapp.net/IParserService/Parse" message="tns:IParserService_Parse_InputMessage" />
      <wsdl:output wsaw:Action="http://nlptoolkit.cloudapp.net/IParserService/ParseResponse" message="tns:IParserService_Parse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuggestParseTree">
      <wsdl:documentation>&lt;summary&gt;
            Suggests a parse tree for a sentence with wrong parse tree
            &lt;/summary&gt;
            &lt;param name="appId"&gt;Your Application Guid&lt;/param&gt;
            &lt;param name="inText"&gt;Input sentence&lt;/param&gt;
            &lt;param name="alternateParseTree"&gt;The alterantive parse tree&lt;/param&gt;
            &lt;returns&gt;&lt;c&gt;ParserErrorCode.Success&lt;/c&gt; or one of the Parser error codes&lt;/returns&gt;</wsdl:documentation>
      <wsdl:input wsaw:Action="http://nlptoolkit.cloudapp.net/IParserService/SuggestParseTree" message="tns:IParserService_SuggestParseTree_InputMessage" />
      <wsdl:output wsaw:Action="http://nlptoolkit.cloudapp.net/IParserService/SuggestParseTreeResponse" message="tns:IParserService_SuggestParseTree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HTTP_IParserService" type="tns:IParserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse">
      <soap:operation soapAction="http://nlptoolkit.cloudapp.net/IParserService/Parse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestParseTree">
      <soap:operation soapAction="http://nlptoolkit.cloudapp.net/IParserService/SuggestParseTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HTTPS_IParserService" type="tns:IParserService">
    <wsp:PolicyReference URI="#HTTPS_IParserService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parse">
      <soap:operation soapAction="http://nlptoolkit.cloudapp.net/IParserService/Parse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuggestParseTree">
      <soap:operation soapAction="http://nlptoolkit.cloudapp.net/IParserService/SuggestParseTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParserService">
    <wsdl:port name="HTTP_IParserService" binding="tns:HTTP_IParserService">
      <soap:address location="http://rd00155d4a25bd/Services/ParserService.svc" />
    </wsdl:port>
    <wsdl:port name="HTTPS_IParserService" binding="tns:HTTPS_IParserService">
      <soap:address location="https://atks.microsoft.com/Services/ParserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>